.home-container {
    background-color: rgb(244,241,222);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.addRecipe-container {
    flex-wrap:wrap;
    background-color: rgb(244,241,222);
    /* display: flex;  */
    justify-content: center;
    

}

.addRecipe-title{
    /* how do I make center above th box? I tried align-itens, jutify content, flex, diection row and columns w.o it moving */
    font-family: Grand Hotel;
    font-size:56px;
    justify-content: left;
    align-items: center;
    color:rgb(61,61,91);
    font-weight: 600;
    margin:25px;
    
}
.addRecipe-form {
   margin:10px;
    width:600px;
    height:auto ;
    padding-bottom: 5px;
    padding-top: 10px;
    background-color: rgb(242,204,143);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: start;
    padding-left: 26px;
    border-radius:15px;
    position: relative;
    box-shadow: 5px 5px 34px -1px #c5c0b1;
    
    
}
#recipeHeader {
    padding:5px;
    font-size: 48px;
    font-family:"Grand Hotel"
    
}
.input-label{
    margin-top: 15px;
    font-weight:600;
    font-size: 18px;
    letter-spacing: 1px;

}


.radio-line{
    display: flex;
    height: 27px;
    width:50%;
    justify-content: left;
    padding-left: 50px;

}
.addRecipe-form input {
    width: 547px;
    padding: 1px;
    padding-left: 5px;
    border-radius: 3px;
    border:1px solid rgb(118, 118, 118);
}
.radio-line input{
    width:auto;

}
h5{
    padding-left: 5px;
    font-size: 18px;
}
.radio-container{
    display: flex;
    width:100%;
     flex-direction: row;
    flex-wrap: wrap;
}
.addRecipe-form textarea {
    padding:1px;
    padding-left:5px;
    width:547px;
    border-radius: 3px;
}
#addRecipeBtn {
    display: flex;
    margin: 15px;
    margin-left: 220px;
    padding:10px;
    letter-spacing: 1px;
    font-weight: 550;
    border: 1px;
    border-radius: 8px;
    color:rgb(244,241,222) ;
    background-color: rgb(61,61,91);
    justify-content: center;
    box-shadow: 5px 6px 14px 0px #C6BF95;

}
#addRecipeBtn:hover{
    background-color: rgb(242,204,143);
    color:rgb(61,61,91);
    border: solid rgb(61,61,91);
    box-shadow: 5px 6px 14px 0px #aea77f;

}
