.header {
    background-color: rgb(129,178,154);
    /* height: auto; */
    width:100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    box-sizing:border-box;
}

.headerTitle
{
    display:flex;
    padding-top: 20px;
    font-family: "Grand Hotel";
    font-size: 70px;
    font-weight: 700;
    color:rgb(61,61,91);
    justify-content: center;
    
}
.logout-container {
    display:inline-flex;
    gap: 35px;
    position: absolute;
    right:0;
    top:0;
    margin-top:15px;
    margin-right:50px;
    font-weight: 600;
    /* font-size: 18px; */
}
.logout-Btn{
    /* font-size:18px; */
    font-weight: 600;
   
}
.logout-Btn:hover{
    color:rgb(242,204,143);
    text-decoration: underline;

}
 .main-nav{
    display:flex;
    justify-content: space-between;
    padding:0px 40px;
    margin-bottom: 5px;
} 
.nav-links{
    display: flex;
    gap:30px;
    font-weight: 600;
    letter-spacing: 1px;
}
a.navlink-text{
    color:rgb(61,61,91);
   
}

a.navlink-text:hover{
    color:rgb(242,204,143);
    text-decoration: underline;
}
a.navlink-text.active{
    color:rgb(242,204,143);
}

.search-wrapper {
    display: flex;
   
}
.searchbar{
    /* position:relative */
    border-radius: 5px;
  border: 1px solid rgb(61,61,91);
    
}
.searchbar::placeholder{
    padding-left: 7px;
}
.searchBtn{
    border-radius: 5px;
}

.searchIcon{
    color:rgb(244,241,222);
    border: 0px;
    outline:0px;
    /* border-radius: 5px; */
    background-color:rgb(61,61,91);
}
.searchIcon:hover{
    color:rgb(61,61,91);
    background-color: rgb(242,204,143);
}

.footer {
    background-color: rgb(244,241,222);
    justify-content: right;
    display: flex;
    gap:20px;
    font-size: 15px;
    letter-spacing: 1px;
    padding-right: 25px;
    padding-top: 20px;
}