.home-container{
    background-color: rgb(244,241,222);
    min-height: 100vh;
}  

.recipeCard-header{
    font-family:grand hotel;
    color: rgb(61,61, 91);
    font-size: 56px;
    font-weight: 600;
    margin: 25px;
    background-color:rgb(244,241,222) ;
}

.recipe-container {
    flex-wrap:wrap;
    display:flex;
    justify-content: center;
    background-color: rgb(244,241, 222);
}
.recipe-card{
    margin:10px;
    padding-right: 20px;
    padding-top: 0px;
    padding-left: 25px;
    padding-bottom: 10px;
    width:550px;
    background-color: rgb(242,204,143) ;
    border-radius:10px;
    flex-direction: column;
    text-align: left;
    /* align-items: start; */
    justify-content: space-between;
    box-shadow: 5px 16px 26px -4px #CFD5D6

}
.title-container{
    display: block;
    margin-top: 20px;
    
}
.recipeStamp{
    font-family:Grand Hotel;
    font-size: 45px;
    display: inline-block;
    margin-right: 20px;
   
}
.recipeTitle{
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
}
.from-container {
    margin: 5px;
    font-weight: 500;
    font-size: 18px;  
}

.instructions-container{
    line-height: 1.4;
    font-size: 15px;
}
.category-display{
    font-size:18px;
    font-style: italic;
}
h5{
    font-size: 18px;
}
.subheader{
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    
}
.ingredients-list{
    column-count:2;
    font-size:18px;
    
}

.btns-container{
    display: flex;
    justify-content: center;
}

.inputForm-btns{
    border:1px;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    color: rgb(244,241, 222);
    background-color:rgb(61,61,91);
    display: flex;
    letter-spacing: 1px;
    align-items: flex-end;
    font-family: "Courier New";
    font-weight: 550;
    align-content:center;
    font-size:15px;
    gap:10px;
    justify-content:right;}

 .inputForm-btns:hover {
    background-color: rgb(242,204,143);
    color:rgb(61,61,91);
    border: solid rgb(61,61,91);
  }

  .loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

