*{
box-sizing:border-box;
font-family: 'Courier New', Courier, monospace;
margin:0px;
padding:0px;
}

.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.welcome-container {
  background-color: rgb(129,178,154);
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items:center;

}

.welcome{
  font-size: 36px;

}
.title {
  font-family: lobster;
  font-size: 96px;
  font-weight: bold;
  color:rgb(61,61,91);
}
.auth-container {
  display:flex;
  gap:10px;
}
.auth-text {
  font-weight: bold;
 
  
}
.form-auth {
  outline: 2px solid rgb(61,61,91);
  background-color: rgb(242,204,143);
  width: 300px;
  height: 200px;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.form-input{
  border-radius: 3px;
  width:200px;
  

}
.form-btn{
  border-radius: 5px;
  margin: 10px;
  font-weight: 600;

}